*.txt
!CMakeLists.txt
CMakeLists.txt.user
CMakeSettings.json
cmake-build-debug
build
.idea
.vs
out
vcpkg_installed

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/editor.xml
/misc.xml
/modules.xml
/QtSettings.xml
/SurveillanceCameraWithAI.iml
/vcs.xml
/workspace.xml